[user]
	name = Pawel Okon
	email = 1451513+pawel-okon@users.noreply.github.com
[core]
	editor = vim
	autocrlf = input
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C